# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1


workflows:
  version: 2
  build:
    jobs:
      - proto
      - build:
          requires:
            - proto


jobs:
  proto:
    machine:
      image: ubuntu-2004:202101-01
      docker_layer_caching: true
    working_directory: ~/repo
    steps:
      - checkout

      - run:
          name: Clean the build files
          command: make clean

      - cached-folder:
          lock_file: proto.lock
          input_folder: proto
          output_folder: gen
          generate_command: make proto

      - persist_to_workspace:
          root: .
          paths:
            - gen


  build:
    working_directory: ~/repo
    docker:
      - image: cimg/go:1.16.5
    steps:
      - checkout

      - attach_workspace:
          at: .

#      - create_concatenated_proto_lock:
#          lockname: proto.lock
#
#      - run: ls -lh proto.lock && wc -l proto.lock
#      - uncache_directory:
#          lockname: proto.lock
#          folder: gen

      - run: ls -lhR gen

      - run:
          name: Install Dependencies
          command: go mod download

      - run:
          name: Run tests
          command: |
            mkdir -p /tmp/test-reports
            gotestsum --junitfile /tmp/test-reports/unit-tests.xml
      - store_test_results:
          path: /tmp/test-reports


commands:

  cached-folder:
    description: "Conditionally cache a generated folder based on an input folder"
    parameters:
      lock_file:
        description: "Name of the generated lock file"
        type: string
      input_folder:
        description: "Input folder to SHA1 for the cache key"
        type: string
      output_folder:
        description: "Output folder to cache"
        type: string
      generate_command:
        description: "Command to execute in order to generate the output file"
        type: string

    steps:
      - run:
          name: Combine files to single file for the cache key
          command: |
            find << parameters.src_folder >> -type f | sort | xargs -n 10000000 sha256sum > << parameters.lock_file >>
            ls -lh << parameters.lock_file >>
            cat << parameters.lock_file >>

      - restore_cache:
          keys:
            - cache-dir-v3-{{ checksum "<< parameters.lock_file >>" }}

      - when:
          condition: << parameters.output_folder >>
      - run:
          name: Generate protos
          command: |
            ls -lh << parameters.output_folder >> >/dev/null 2>&1 || << parameters.generate_command >>

      - save_cache:
          key: cache-dir-v3-{{ checksum "<< parameters.lock_file >>" }}
          paths:
            - << parameters.output_folder >>


  create_concatenated_proto_lock:
    description: "Concatenate all proto files into single file. This file is used as checksum source for part of caching key."
    parameters:
      lock_file:
        type: string
      src_folder:
        type: string

    steps:
      - run:
          name: Combine proto files to single file
          command: |
            find << parameters.src_folder >> -type f | sort | xargs -n 10000 sha256sum > << parameters.lock_file >>
            ls -lh << parameters.lock_file >>
            cat << parameters.lock_file >>

  cache_directory:
    description: "Cache a given directory."
    parameters:
      lock_file:
        type: string
      output_folder:
        type: string
    steps:
      - save_cache:
          key: cache-dir-v3-{{ checksum "<< parameters.lock_file >>" }}
          paths:
            - << parameters.output_folder >>

  uncache_directory:
    description: "Cache a given directory."
    parameters:
      lock_file:
        type: string
    steps:
      - restore_cache:
          keys:
            - cache-dir-v3-{{ checksum "<< parameters.lock_file >>" }}
